.Qualifications{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-left: 1.5rem;
  border-right: solid;
  border-color: #278AD2;
  border-width: 0.1rem;
  min-height: 100%;
  height: 100%;
}


.skills{
  display: flex;
  flex-direction: column;
  padding: 0 2rem 0 2rem;
}

.subTitle{
  text-align: center;
  margin: 1.3rem 0 1.3rem 0;
  font-size: 1.3rem;
}

.links{
  display: flex;
  margin-top: 0.5rem;
}

.socials a{
  padding-left: 0.5rem;
}

.socials a:link{
  text-decoration: none;
  color: #278AD2;
}

.socials a:visited{
  text-decoration: none;
  color: #278AD2;
}

.socials a:hover{
  text-decoration: none;
  color: #9127a9;

}

.socials{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 1.3rem;
  padding: 0 1rem 0 0 ;
}

.icon{
  vertical-align: middle;
}



.languages{
    display: flex;
    flex-direction: column;
    padding: 0 2rem 0 2rem;
}

@media only screen and (max-aspect-ratio: 1), (max-width: 650px){
  .Qualifications{
    width: 100%;
    border-right: none;
    border-bottom: solid;
    border-color: #278AD2;
    padding: 0;
  }
}