.Qualifications{
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;

}

.skills{
  display: flex;
  flex-direction: column;
  margin: 0;
}

.title{
  color: #278AD2;
  font-family: "Rubik Mono One";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
  text-align: center;
}

li{
  display: flex;
  margin-top: 0.5rem;
}

a{
  margin-left: 0.5rem;
}

a:link{
  text-decoration: none;
  color: #278AD2;
}

a:visited{
  text-decoration: none;
  color: #278AD2;
}

.socials{
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.icon{
  vertical-align: middle;
  width: 30px;
}