.Qualifications{
  display: flex;
  width: 50rem;
  flex-direction: column;
  justify-content: space-between;
  border-right: solid;
  border-color: #278AD2;
  border-width: 0.1rem;
}

.skills{
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.title{
  color: #278AD2;
  font-family: "Rubik Mono One";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
  text-align: center;
}

.subTitle{
  margin-left: 1rem;
  font-size: 1.3rem;
}

li{
  display: flex;
  margin-top: 0.5rem;
}

a{
  margin-left: 0.5rem;
}

a:link{
  text-decoration: none;
  color: #278AD2;
}

a:visited{
  text-decoration: none;
  color: #278AD2;
}

.socials{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  width: 20rem;
  margin-right: 2rem;
}

.icon{
  vertical-align: middle;
  width: 30px;
}