.Main{
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

@media only screen and (max-aspect-ratio: 3/4){
  .Main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}