.history {
  display: flex;
  justify-content: center;
  width: 100%;
}

.experienceTitle{
  margin: 0;
}

.experienceDate{
  margin: 0 0 0.8rem 0;
}

.study{
  padding-left: 2rem;
  width: 50%;
}

.study h4{
  font-family: var(--font-red-hat-text);
  font-size: 1.25rem;
  font-weight: 750;
  line-height: normal;
  width: 75%;
  margin-bottom: 0;
}

.study p{
  font-family: var(--font-red-hat-text);
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  white-space: pre-wrap;
}

.logo, .logo-rounded{
  max-width: 130px;
  max-height: 130px;
  width: 50vw;
  height: 50vw;
  object-fit: cover;
}

.logo-rounded{
  border-radius: 50%;
}

.study a:link{
  text-decoration: none;
  color: #278AD2;
}

.study a:visited{
  text-decoration: none;
  color: #278AD2;
}

.study a:hover{
  text-decoration: none;
  color: #9127a9;
}

.study ul {
  padding: 0 0 0 1.2rem;
}

.study ul li{
  margin: 0 0 0.5rem 0;
}

@media only screen and (max-aspect-ratio: 1), (max-width: 650px){
  .history {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  .experienceTitle, .experienceDate{
    text-align: center;
  }

  .study{
    padding: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .study ul{
    padding: 0 0 0 0.5rem;
    gap: 5rem;
    width: 100%;
  }
}