.history {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.study{
  padding-left: 2rem;
  width: 60%;
}

.study h4{
  font-family: "Red Hat Text";
  font-size: 1.25rem;
  font-weight: 750;
  line-height: normal;
  width: 75%;
  margin-bottom: 0;
}

.study p{
  font-family: "Red Hat Text";
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  white-space: pre-wrap;
  /* width: 75%; */
}

.logo, .logo-rounded{
  max-width: 130px;
  max-height: 130px;
  width: 10vw;
  height: 10vw;
  object-fit: cover;
}

.logo-rounded{
  border-radius: 50%;
}
