.cv{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

body.dark-mode{
    background-color: #333;
    color: #f4f4f4;
}

body.dark-mode .Header{
    background-color: #222;
}

body.dark-mode .Header .nameDiv h2{
    color: #f4f4f4;
}

@media print{
    @page {
        size: A4;
    }
}